@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  background-color: #eec643;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  background-color: #f1d26a;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #eec643;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #141414;
  transform: rotate(45deg);
}

.cell.x::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #141414;
  transform: rotate(-45deg);
}

.cell.o::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: #141414;
}

.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.55);
  height: calc(var(--mark-size) * 0.55);
  background-color: #f1d26a;
}

.board.x .cell:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #f1d26a;
  border: 2px solid black;
  transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #f1d26a;
  border: 2px solid black;
  transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: #f1d26a;
  border: 2px solid black;
}

.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.55);
  height: calc(var(--mark-size) * 0.55);
  background-color: #f1d26a;
  border: 2px solid black;
}

.text {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  margin-left: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 6px;
}

button:focus {
  outline: 0;
}

.flex {
  display: flex;
}

.fa-times {
  margin-top: 6px;
  font-size: 28px;
}

.fa-circle {
  margin-top: 8px;
  font-size: 22px;
}


.modal-container {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 105vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  margin-top: -44px;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  font-family: 'Langar', cursive;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#close {
  width: 30px;
}