@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  background-color: #eec643;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  background-color: #f1d26a;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #eec643;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #141414;
  transform: rotate(45deg);
}

.cell.x::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #141414;
  transform: rotate(-45deg);
}

.cell.o::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: #141414;
}

.cell.o::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.55);
  height: calc(var(--mark-size) * 0.55);
  background-color: #f1d26a;
}

.board.x .cell:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #f1d26a;
  border: 2px solid black;
  transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: #f1d26a;
  border: 2px solid black;
  transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.8);
  height: calc(var(--mark-size) * 0.8);
  background-color: #f1d26a;
  border: 2px solid black;
}

.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  width: calc(var(--mark-size) * 0.55);
  height: calc(var(--mark-size) * 0.55);
  background-color: #f1d26a;
  border: 2px solid black;
}

.text {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
  font-weight: bold;
  margin: 3px;
}
